<div class="signup-container">
  <div class="row">
    <div class="col-md-12">
      <div class="d-flex flex-column align-items-center text-center">
        <img class="avatar shadow mt-5" [src]="avatar" alt="avatar">
        <h1>
          <span class="mt-3 fs-3 fw-bold">Welcome, {{userData.fname | titlecase}}.</span>
        </h1>
        <span class="fs-5 mt-3">Personal Information</span>
        <h1>
          <p class="fs-5 fw-bold label-name m-0">{{userData.fname}} {{userData.lname}}</p>
        </h1>
        <p class="fs-6 m-0">{{userData.dob | date:'dd MMM yyyy'}}</p>
        <p class="fs-6 m-0">Age ({{shareDataService.getAge()}})</p>
        <div class="user-info">
          <div>
            <label>E-mail:</label>
            <p>{{userData.email}}</p>
          </div>
          <div>
            <label>Username</label>
            <p>{{userData.username}}</p>
          </div>
          <div>
            <label>Phone</label>
            <p>{{userData.mobile}}</p>
          </div>
          <div>
            <label>Address</label>
            <p>{{userData.address}}</p>
          </div>
          <div>
            <label>State</label>
            <p>{{userData.state}}</p>
          </div>
          <div>
            <label>City</label>
            <p>{{userData.city}}</p>
          </div>
          <div>
            <label>Zip Code</label>
            <p>{{userData.postal_code}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
