<div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
  <section class="jumbotron py-3">
    <div class="container">
      <h1 class="jumbotron-heading">Visits</h1>
    </div>
  </section>

  <div *ngFor="let pl of providerList" class="list-group list-group-flush border-bottom scrollarea">
    <a routerLink="/records/documents/{{pl.provider_id}}/{{pl.reference_id}}" class="list-group-item list-group-item-action py-3 lh-tight"
      aria-current="true">
      <div class="d-flex w-100 justify-content-between align-items-center">
        <div class="ms-3">
          <strong class="mb-1 btn-provider">{{pl?.provider_name}}</strong>
          <p class="m-0" *ngFor="let doc of pl?.doctor">{{doc?.individual?.display}}</p>
        </div>
        <small class="btn">
          <fa-icon class="fa-lg" [icon]="faAngleRight"></fa-icon>
        </small>
      </div>
    </a>
  </div>
</div>
